fastapi
uvicorn[standard]
python-multipart
numpy==1.24.3
Pillow==10.0.1
scipy==1.11.3
pyyaml==6.0.1
jsonlines==4.0.0
tqdm==4.66.1
matplotlib==3.7.2
ffmpeg-python==0.2.0
requests==2.31.0
psutil==5.9.5
pandas==2.1.1
opencv-python-headless==4.8.1.78
setuptools>=70
wheel